html-template/*
bin-debug/*
bin-release/*
bin/*
doc/*
docs/*
obj/*
dist/*
report/*
out/*
target/*
04_desenvolvimento/02_producao/_pages/*
04_desenvolvimento/02_producao/extras/*
04_desenvolvimento/02_producao/files/*
04_desenvolvimento/02_producao/loc/*
04_desenvolvimento/02_producao/music/*
04_desenvolvimento/02_producao/xml/*


.idea/dictionaries/*
.idea/uiDesigner.xml
.idea/workspace.xml

.settings/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
*.mp3

Icon
Thumbs.db
.DS_Store
