/*------------------AJUDA*/

#helpContainer{
	position: absolute;
	display: none;
	z-index: 5;
}
#help{
	position: absolute;
	width: 1024px;
	height: 660px;
}
#background{
	position: absolute;
	width: 1024px;
	height: 660px;

	background-color: #000000;
	opacity: 0.6;
}
#box{
	position: absolute;
	width: 280px;
	height: 180px;

	background-color: #FFFFFF;

	top: 50%;
	left: 50%;

	margin-left: -140px;
	margin-top: -90px;

	border-radius: 2px;

	-webkit-box-shadow: 2px 2px 6px 0px #222222;
	-moz-box-shadow: 2px 2px 6px 0px #222222;
	box-shadow: 2px 2px 6px 0px #222222;
}
#title{
	position: relative;
	font-size: 20px;
	font-weight: bold;

	left: 16px;
	margin-top: 16px;

	color: #333333;
	cursor: default;
}
#explain{
	position: relative;
	font-size: 16px;

	width: 248px;

	left: 16px;
	margin-top: 16px;

	color: #333333;
	cursor: default;

	opacity: 1;
}
.ballOnHelp{
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;

	background-color: rgba(77, 77, 77, 1);

	border-style: solid;
	border-color: #8c8c8c;
	border-width: 1px;
	border-radius: 50%;
}
.ballOffHelp{
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;

	background-color: rgba(77, 77, 77, 0.3);

	border-style: solid;
	border-color: #8c8c8c;
	border-width: 1px;
	border-radius: 50%;
}
#balls{
	position: absolute;
	top: 146px;

	width: 162px;
	height: 22px;

	margin-left: -81px;
	left: 50%;
}

.arrow {
	position: relative;
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right: 5px solid white; 
	margin-left: 4px;
}

.arrowBall{
	position: relative;
	float: left;
	width: 16px;
	height: 16px;

	background-color: rgba(77, 77, 77, 1);

	border-style: solid;
	border-color: #8c8c8c;
	border-width: 1px;
	border-radius: 50%;

	margin-right: 4px;
	margin-left: 4px;

	cursor: pointer;
}

#nextArrow{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#quitHelp{
	position: absolute;

	width: 20px;
	height: 20px;

	background-color: rgba(38, 38, 38, 1);
	color: #FFFFFF;

	text-align: center;

	border-style: solid;
	border-color: #8c8c8c;
	border-width: 1px;
	border-radius: 50%;

	top: 230px;
	left: 641px;

	cursor: pointer;
}

#xButton{
	padding-top: 2.2px;
}

/*------------------------------------*/
